name: CI
on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main
concurrency:
  group: ci-workflow-${{ github.workflow }}-ref-${{ github.ref }}
  # Cancel in-progress workflows for PRs (but not main).
  cancel-in-progress: ${{ github.ref != 'refs/heads/main'}}
permissions:
  contents: read
jobs:
  docker:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - run: docker build -t gcr.io/cipherly/cipherly .
  cargo:
    runs-on: ubuntu-24.04
    defaults:
      run:
        working-directory: ./backend
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Configure rust version
        id: rust-version
        run: |
          VERSION=$(cat rust-toolchain.toml| sed -rn 's/^channel = "([0-9]+\.[0-9]+\.[0-9]+)"/\1/p')
          if [ -z "${VERSION}" ]; then
            echo "Version not found in rust-toolchain.toml"
            exit 1
          fi
          echo VERSION=$VERSION >> "$GITHUB_OUTPUT"
      - name: Setup Rust
        uses: dtolnay/rust-toolchain@0b1efabc08b657293548b77fb76cc02d26091c7e # master
        with:
          toolchain: ${{ steps.rust-version.outputs.VERSION }}
          components: rustfmt,clippy
      - name: Rust build cache
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
        with:
          workspaces: "./backend/ -> target"
          shared-key: "backend-build"
      - name: Make static dir
        run: rm -f static && mkdir static
      - name: Run cargo test
        run: cargo test
      - name: Run cargo clippy
        run: cargo clippy --all-targets --all-features -- -D warnings
      - name: Run cargo fmt check
        run: cargo fmt --all -- --check
  npm:
    runs-on: ubuntu-24.04
    defaults:
      run:
        working-directory: ./frontend
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          package_json_file: frontend/package.json
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: frontend/.nvmrc
          cache: "pnpm"
          cache-dependency-path: frontend/pnpm-lock.yaml
      - run: pnpm install
      - run: pnpm test:ci
  e2e:
    runs-on: ubuntu-24.04
    defaults:
      run:
        working-directory: ./frontend
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          package_json_file: frontend/package.json
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: frontend/.nvmrc
          cache: "pnpm"
          cache-dependency-path: frontend/pnpm-lock.yaml
      - run: pnpm install
      - id: playwright-cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ~/.cache/ms-playwright
          key: ${{ runner.os }}-playwright-${{ hashFiles('**/frontend/pnpm-lock.yaml') }}
          restore-keys: ${{ runner.os }}-playwright-
      - run: pnpm exec playwright install --with-deps
        if: steps.playwright-cache.outputs.cache-hit != 'true'
      - name: Build docker image
        id: build-image
        working-directory: ./
        run: |
          TAG="gcr.io/cipherly/cipherly/${{ github.sha }}_$(date +%s%3N)"
          docker build -t $TAG .
          echo image-tag=$TAG >> "$GITHUB_OUTPUT"
      - run: CI=true CIPHERLY_IMAGE=${{ steps.build-image.outputs.image-tag }} pnpm test:e2e
